<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: header(title=${messages.getString('createData')})"  />
<body>
    <h2 th:text="${messages.getString('createData')}"/>
    <script>
    var dataSchemaList=[];
    var enumList=[];
    var validator;
    </script>
     <script th:inline="javascript" th:each="dataSchema,status : ${dataSchemaList}"> 
	var ds={};
	ds.id=/*[[${dataSchema.id}]]*/;
	ds.name=/*[[${dataSchema.name}]]*/;
	ds.definition=/*[[${dataSchema.definition}]]*/;
	dataSchemaList.push(ds);
  </script>
   <script th:inline="javascript" th:each="enu,status : ${enumerationList}"> 
	var enu={};
	enu.id=/*[[${enu.id}]]*/;
	enu.name=/*[[${enu.name}]]*/;
	enu.value=/*[[${enu.value}]]*/;
	enumList.push(enu);
  </script>  
  <script inline="javascript">
  /*<![CDATA[*/
  function refreshFieldList() {
	  var html="";
	  var selectedDataSchemaId=jQuery("#dataSchemaId").val();
	  var dataSchema=dataSchemaList.find(function(ds) {return ds.id==selectedDataSchemaId;});
	  var arr=JSON.parse(dataSchema.definition);
 	  arr.forEach(function(ds,index) {
  		 var fieldId="field"+index;
  		 var inputELementTemplate="<input name='{fId}' id='{fId}' class='{className}' required='true' />";
  		 var inputElement=inputELementTemplate.replace(new RegExp("{fId}", 'g'),fieldId);
  		 switch(ds.fieldType) {
		 	case 1:
		 		inputElement=inputElement.replace("{className}","stringInput");
		 		break;
		 	case 2:
		 		inputElement=inputElement.replace("{className}","integerInput");
		 		break
		 	case 3:
		 		inputElement=inputElement.replace("{className}","doubleInput");
		 		break;
		 	case 4:
		 		inputElement="<select id='"+fieldId+"' name='"+fieldId+"'>";
		 		var enumId=ds.enumerationId;
		 		var en=enumList.find(function(e) {
		 			return (e.id==enumId);
		 		});
		 		JSON.parse(en.value).forEach(function(v) {
		 			var optionElement="<option value='"+ v+ "' >"+v+"</option>";
		 			inputElement+=optionElement;
		 		});
		 		inputElement+="</select>";
		 		break;
  		 }
  		 var elem=ds.name + ": <input name='" + fieldId + "' id='"+fieldId+ "' /><br />";
		 html+=ds.name + ": " + inputElement + "<br >";
	  }); 
	  jQuery("#fieldListDiv").html(html);
  }
  
  function submitForm() {
	  var selectedDataSchemaId=jQuery("#dataSchemaId").val();
	  var dataSchema=dataSchemaList.find(function(ds) {return ds.id==selectedDataSchemaId;});
	  var arr=JSON.parse(dataSchema.definition);
	  var emptyFound=false;
	  var data=[];
	  arr.forEach(function(ds,index) {
		 switch(ds.fieldType) {
		 	case 1:
		 		var field={};
				field.name=ds.name;
				field.value=jQuery("#field"+index).val();
				data.push(field);
		 		break;
		 	case 2:
		 		var field={};
				field.name=ds.name;
		 		field.value=parseInt(jQuery("#field"+index).val());
		 		data.push(field);
		 		break;
		 	case 3:
		 		var field={};
				field.name=ds.name;
		 		field.value=parseFloat(jQuery("#field"+index).val());
		 		data.push(field);
		 		break;
		 	case 4:
		 		var field={};
				field.name=ds.name;
				field.value=jQuery("#field"+index).val();
				data.push(field);
		 		break;
		 }
	  });
	  jQuery("#data").val(JSON.stringify(data));
  }
  
  jQuery("#createDataForm").ready(function() {
	  refreshFieldList();
	  $('#dataSchemaId').on('change',function(e) {
		  refreshFieldList();
	  });
	  $('#submitButton').on('click',function(e) {
		  submitForm();
	  });
	// Make the hidden input included in validation
		validator=jQuery('#createDataForm').validate({
			ignore: ":hidden:not(#data)"
		});
	});
  /*]]>*/
  </script> 

<form id="createDataForm" th:method="post" action="/data" >
Data Schema: <select name="dataSchemaId" id="dataSchemaId" >
	<option th:each="dataSchema : ${dataSchemaList}" th:value="${dataSchema.getId()}" th:text="${dataSchema.getName()}" />
</select> <br/>
Field: Value <input type="hidden" id="data" name="data" value="" /> <br />
 <div id="fieldListDiv" >

</div>
<br />
<input type="submit" id="submitButton" th:value="${messages.getString('submit')}" />

</form>
    <p><div th:replace="/include/footer :: footer"></div></p>
</body>
</html>
