<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: header(title=${messages.getString('pageTitle')})"  />
<body>
    <h1 th:text="${messages.getString('pageTitle')}" />
    
     <div th:if="${session.pageMessage != null}">
     		<p th:text="${session.pageMessage.getMessage()}" class="info" />
			<div th:if="${session.remove('pageMessage')} == null" />
     </div>
  <div ><a href="/data/create">Create New Data</a></div>
    <table border="1" class="table">
    <tr class="row header">
    <th>ID</th><th>SchemaID</th><th>Data</th><th>Create Time</th><th>Last Modified</th><th>Actions</th>
    </tr>
    <tr th:each="data,iterationStatus : ${dataset.content}" class="row">
    <td th:text="${data.id}"/><td th:text="${data.dataSchema.id}"/><td th:text="${data.data}"/><td th:text="${data.createTime}"/><td th:text="${data.lastModifiedTime}"/>
    <td>
		<form action="/data" th:method="delete" >
		  <input type="hidden" name="dataId" th:value="${data.id}" />
		  <input type="submit" th:value="${messages.getString('delete')}" />
		</form>
		<form action="/data/update" th:method="get" >
		  <input type="hidden" name="dataId" th:value="${data.id}" />
		  <input type="submit" th:value="${messages.getString('update')}" />
		</form>
	</td>
    </tr>
    </table>
<div>
Go to: <span th:each="i : ${#numbers.sequence(1,(dataset.totalPages==0 ? 1 : dataset.totalPages))}" >
	<a th:href="@{/data/index(page=${i},pageSize=${pageSize})}" th:text="${i}" />
</span>
</div>  
  
  <p><div th:replace="/include/footer :: footer"></div></p>
  
</body>
</html>
