<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: header(title=${messages.getString('createEnum')})"  />
<body>
    <h2 th:text="${messages.getString('createEnum')}"/>
<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">

<script th:incline="javascript">
/*<![CDATA[*/
	var enumList=[];
	var validator;
	function addEnum() {
		validator.resetForm();
		if (jQuery("#entry").val()=='') {
			alert("Please enter value for new Enum");
			return ;
		}
		if (enumList.find(function(e) {
				return e===jQuery("#entry").val();			
			})) {
			alert('Enumeration value is duplicate');
			return ;
		}
		enumList.push(jQuery("#entry").val());
		jQuery("#value").val(JSON.stringify(enumList));
		jQuery("#entry").val('');
		renderEnumList();
	}
	
	function renderEnumList() {
		var html="";
		for(i=0;i<enumList.length;i++) {
			html+="<img src='/images/cross_small.png' class='action' onclick='removeEnumListElement("+i+")' /><li class='enum'>"+enumList[i]+"</li>";
		}
		jQuery("#enumerations").html(html);
	}
	
	function removeEnumListElement(index) {
		enumList.splice(index,1);
		renderEnumList();
	}
	
	jQuery("#addEnumForm").ready(function() {
		jQuery("#addEnumButton").on('click',function() {
			addEnum();
		});
		// Make the hidden input included in validation
		validator=jQuery('#addEnumForm').validate({
			ignore: ":hidden:not(#value)"
		});
	});
	
	 /*]]>*/
</script>
	</div>
<form id='addEnumForm' th:method="post" action="/enum" >
Name(*): <input type="text" name="name" id="enumName" required="true" /> <br/>
<span id="enumer">Enumerations(*): </span> <ul id="enumerations" class="enum">

</ul> <input type="hidden" name="value" id="value" required="true" /> <br />
New Enumeration: <input type="text" id="entry" name="newEnum" /> <input id="addEnumButton" type="button" value="Add" /><br/>

<input id="submitButton" type="submit" th:value="${messages.getString('submit')}"/>

</form>


    <p><div th:replace="/include/footer :: footer"></div></p>

  
</body>
</html>
