<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: header(title=${messages.getString('updateEnum')})"  >


</head>
<body>
<div th:fragment="header" xmlns:th="http://www.thymeleaf.org">

<script th:incline="javascript">
/*<![CDATA[*/
	var enumList=[];
	var validator;
	jQuery("#enumForm").ready(function() {
		enumList=JSON.parse($("#value").val());
		renderEnumList();
	});
	
	function renderEnumList() {
		var html="";
		for(i=0;i<enumList.length;i++) {
			html+="<img src='/images/cross_small.png' class='action' onclick='removeEnumListElement("+i+")' /><li class='enum'>"+enumList[i]+"</li>";
		}
		jQuery("#enumerations").html(html);
	}
	
	function removeEnumListElement(index) {
		enumList.splice(index,1);
		jQuery("#value").val(enumList.length==0?'':JSON.stringify(enumList));
		renderEnumList();
	}
	
	jQuery("#enumForm").ready(function() {
		jQuery("#addButton").on("click",function() {
			if (jQuery("#entry").val()=='') {
				alert("Please enter value for new Enum");
				return ;
			}
			if (enumList.find(function(e) {
					return e===jQuery("#entry").val();			
				})) {
				alert('Enumeration value is duplicate');
				return ;
			}
			validator.resetForm();
			enumList.push(jQuery("#entry").val());
			jQuery("#entry").val('');
			jQuery("#value").val(JSON.stringify(enumList));
			renderEnumList();
		});
		
		// Make the hidden input included in validation
		validator=jQuery('#enumForm').validate({
			ignore: ":hidden:not(#value)"
		});
	});
	 /*]]>*/
</script>
</div>
<h2 th:text="${messages.getString('updateEnum')}"/>
<form th:method="put" id="enumForm" name="enumForm" action="/enum" >
<input type="hidden" name="enumId" th:value="${enumeration.id}" />
Name(*): <input type="text" name="name" id="enumName"  th:value="${enumeration.name}" required="true" /> <br/>
Enumerations(*): <input type="hidden" name="value" id="value" th:value="${enumeration.value}" required="true" /> <ul id="enumerations" class="enum">

				</ul> <br />
New Enumeration: <input type="text" id="entry" name="newEnum" /> <input type="button" id="addButton" value="Add" /><br/>

<input type="submit" th:value="${messages.getString('submit')}"/>

</form>

    <p><div th:replace="/include/footer :: footer"></div></p>
</body>
</html>
