<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: header(title='Marcel App Error Page')"  />
<body>
  <h1 >Error occurred</h1>

 <h2 th:text="'Message: '+${message}" />
 
 <a href="/">Back to home page</a>
    
 <p><div th:replace="/include/footer :: footer"></div></p>
</body>
</html>
