<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: header(title='Marcel App Homepage')"  />
<body>
    <h1 th:text="'Marcel Data Collector - Operations'" />
     <div th:if="${pageMessage != null}" class="wrapper">
     	<div th:switch="${pageMessage.getType().toString()}">
     		<p th:case="info" th:text="${pageMessage.getMessage()}" class="info" />
     		<p th:case="warning" th:text="${pageMessage.getMessage()}" class="warning" />
     		<p th:case="error" th:text="${pageMessage.getMessage()}" class="error" />
     	</div>
     </div>
    <ul class="operations"><a href="/data/index">Data Admin</a></ul>
    <ul class="operations"><a href="/schema/index">Data Schema Admin</a></ul>
    <ul class="operations"><a href="/enum/index">Enumeration Admin</a></ul>
    
    <p><div th:replace="/include/footer :: footer"></div></p>
</body>
</html>
