<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: header(title=${messages.getString('pageTitle')})"  />
<body>
    <h1 th:text="${messages.getString('pageTitle')}" />
    
     <div th:if="${session.pageMessage != null}">
     		<p th:text="${session.pageMessage.getMessage()}" class="info" />
			<div th:if="${session.remove('pageMessage')} == null" />
     </div>
  <div><a href="/schema/create">Create New Data Schema</a></div>
    <table border="1" class="table">
    <tr class="row header green">
    <th>ID</th><th>Name</th><th>Version</th><th>Definition</th><th>Actions</th>
    </tr>
    <tr th:each="dataSchema,iterationStatus : ${dataset.content}"  class="row">
    <td th:text="${dataSchema.id}"/><td th:text="${dataSchema.name}"/><td th:text="${dataSchema.version}"/><td th:text="${dataSchema.definition}"/>
    <td>
		<form action="/schema" th:method="delete" >
		  <input type="hidden" name="dataSchemaId" th:value="${dataSchema.id}" />
		  <input type="submit" th:value="${messages.getString('delete')}" />
		</form>
		<form action="/schema/update" th:method="get" >
		  <input type="hidden" name="dataSchemaId" th:value="${dataSchema.id}" />
		  <input type="submit" th:value="${messages.getString('update')}" />
		</form>
	</td>
    </tr>
    </table>
<div>
Go to: <span th:each="i : ${#numbers.sequence(1,(dataset.totalPages==0 ? 1 : dataset.totalPages))}" >
	<a th:href="@{/schema/index(page=${i},pageSize=${pageSize})}" th:text="${i}" />
</span>
</div>  
  
  <p><div th:replace="/include/footer :: footer"></div></p>
  
</body>
</html>
