<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/include/header :: header(title=${messages.getString('updateDataSchema')})"  />
<body>
<h2 th:text="${messages.getString('updateDataSchema')}"/>
    <script th:inline="javascript">
    var enumList=[];
    var initialDefinition=/*[[${dataSchema.definition}]]*/;
    jQuery("#definition").val(initialDefinition);
    var newFieldList=JSON.parse(initialDefinition);
    var selectedEnumValues=JSON.parse(jQuery("#definition").val());
    var validator;
    </script>
    <script th:inline="javascript" th:each="enu,status : ${enumerationList}"> 
	var enu={};
	enu.id=/*[[${enu.id}]]*/;
	enu.name=/*[[${enu.name}]]*/;
	enu.value=/*[[${enu.value}]]*/;
	enumList.push(enu);
  </script>
  <script th:incline="javascript">
/*<![CDATA[*/
	function enumerationListChanged() {
		var selectedEnumId=jQuery("#selectedEnumerationId").val();
		var v=enumList.find(function(e) {return e.id==selectedEnumId;}).value;
		selectedEnumValues=JSON.parse(v);
		refreshEnumList();
	}
	function refreshEnumList() {
		var html="";
		for(i=0;i<selectedEnumValues.length;i++) {
			html+="<img src='/images/cross_small.png' /><li class='enum'>"+selectedEnumValues[i]+"</li>";
		}
		jQuery("#selectedEnumerationOptionList").html(html);
	}
	function EnumTypeChanged() {
		if (!jQuery('#fieldType4').is(':checked')) {
			jQuery("#selectedEnumerationId").prop("disabled","disabled");
		} else {
			jQuery("#selectedEnumerationId").removeAttr("disabled");
		}
		
	}
	function addField() {
		if (jQuery("#fieldName").val()=='') {
			alert("Please enter name of the new field");
			return ;
		}
		if (newFieldList.find(function(e) {
					return e.name===jQuery("#fieldName").val();			
				})) {
			alert('Field name is duplicate');
			return ;
		}
		var field={};
		field.name=jQuery("#fieldName").val();
		field.fieldType=parseInt(jQuery("input[name=fieldType]:checked").val());
		if (field.fieldType=="4") {
			field.enumerationId=parseInt(jQuery("#selectedEnumerationId").val());
		}
		newFieldList.push(field);
		jQuery("#definition").val(JSON.stringify(newFieldList));
		renderAddedFieldList();
	}
	
	function renderAddedFieldList() {
		var html="";
		for(i=0;i<newFieldList.length;i++) {
			var fieldText=newFieldList[i].name+" ";
			switch (jQuery("#fieldType"+newFieldList[i].fieldType).val()) {
			case "1":
				fieldText+=" (String)";
				break;
			case "2":
				fieldText+=" (Integer)";
				break;
			case "3":
				fieldText+=" (Double)";
				break;
			default:
				var enumValue=jQuery("#selectedEnumerationId").val();
				var enumName=enumList.find(function(k) {return k.id==enumValue;}).name;
				fieldText+=" (Enumeration:["+enumName+"])"
			}
			html+="<img src='/images/cross_small.png' class='action' onclick='removeAddedFieldListElement("+i+")' /><li class='enum'>"+fieldText+"</li>";
		}
		jQuery("#addedFieldList").html(html);
	}
	
	function removeAddedFieldListElement(index) {
		newFieldList.splice(index,1);
		renderAddedFieldList();
		jQuery("#definition").val(newFieldList.length==0?'':JSON.stringify(newFieldList));
	}
	
	jQuery("#schemaForm").ready(function() {
		jQuery("#selectedEnumerationId").on("click",enumerationListChanged);
		jQuery("#addFieldButton").on("click",addField);
		enumerationListChanged();
		renderAddedFieldList();
		// Make the hidden input included in validation
		validator=jQuery('#schemaForm').validate({
			ignore: ":hidden:not(#definition)"
		});
	});
	 /*]]>*/
</script>   
<form th:method="put" id="schemaForm" action="/schema" >
<input type="hidden" name="dataSchemaId" th:value="${dataSchema.id}" /> <br />
Schema Name: <input type="text" name="name" id="name" th:value="${dataSchema.name}" required="true" /><br />
Field List: <input type="hidden" id="definition" name="definition"  value="" required="true" /><span id="addedFieldList" /><br />

Add field... <br />
Field Name: <input id="fieldName" name="fieldName" /><br/>
Field type: <div >
	<input th:each="t,status : ${fieldTypes}" type="radio" th:id="'fieldType'+${status.count}" th:value="${status.count}" name="fieldType" th:text="${t.toString()}" th:checked="${status.count==1}" onchange="EnumTypeChanged();" />
</div>
<br/>

Select enumeration: <select id="selectedEnumerationId" name="selectedEnumerationId" disabled="disabled" >
	<option th:each="enu,status : ${enumerationList}" th:text="${enu.name}" th:value="${enu.id}" />
</select> with options: <div id="selectedEnumerationOptionList" class="noWrap"/>

 <br />
<input type="button" id="addFieldButton" value="Add Field" /> <br/>
<input type="submit" th:value="${messages.getString('submit')}" />

</form>
    <p><div th:replace="/include/footer :: footer"></div></p>
</body>
</html>
