@CHARSET "UTF-8";
ul.operations {
	list-style-type: square;
	background: #cce5ff;
	color: blue;
    margin: 5px;
}
p.error {
	color: red;
}

p.info {
	color: green;
}

p.warning {
	color: yellow;
}

ul.enum {
	display: inline;
	margin: 10px 5px;
}

li.enum {
	display: inline;
	margin-left: 2px;
	margin-right: 18px;
}

img.action {
	cursor: pointer;
	margin-right: 0px;
	align: center;
	vertical-align: middle;
}

.noWrap {
	display: inline-block;
}

form {
    display: inline-block; //Or display: inline;
}

/* CSS from http://codepen.io/lukepeters/pen/bfFur start */
body {
  font-family: "Helvetica Neue", Helvetica, Arial;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #3b3b3b;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background: #FFFFFF;
}

.wrapper {
  margin: 0 auto;
  padding: 40px;
  max-width: 800px;
}

.table {
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  display: table;
}
@media screen and (max-width: 580px) {
  .table {
    display: block;
  }
}

.row {
  display: table-row;
  background: #f6f6f6;
}
.row:nth-of-type(odd) {
  background: #e9e9e9;
}
.row.header {
  font-weight: 900;
  color: #ffffff;
  background: #ea6153;
}
.row.green {
  background: #27ae60;
}
.row.blue {
  background: #2980b9;
}
@media screen and (max-width: 580px) {
  .row {
    padding: 8px 0;
    display: block;
  }
}

.cell {
  padding: 6px 12px;
  display: table-cell;
}
@media screen and (max-width: 580px) {
  .cell {
    padding: 2px 12px;
    display: block;
  }
}

/* CSS from http://codepen.io/lukepeters/pen/bfFur end */